@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--text-color);
  font-size: 64px;
  font-weight: 700;
}         

section {
  width: 100%;
  max-width: 1500px;
  padding: 40px 40px;
  background-color:var(--background-color);
  margin: 0 auto;
}

:root {
  --background-color: #fffff1;
  --background-color-item:#F2F6D3;
  --background-color-another:white;
  --text-color: #424436;
  --active-text-color-light: black; 
  --active-text-color-dark: white;
  --active-text-color: var(--active-text-color-light); 
  --fill: rgba(66, 68, 54, 1);
  --button-hover: #424436;
  --text-color-hover: white;
  --text-color-navigation-hover: #424436;
}

[ data-theme= 'dark'] {
  --background-color: #424436;
  --background-color-item:#383A2C;
  --background-color-another:#383A2C;
  --text-color:#FFFFFF;
  --active-text-color: var(--active-text-color-dark);
  --fill: #92A134;
  --button-hover: #F2F6D3;
  --text-color-hover:#424436;
  --text-color-navigation-hover: #424436;
}