.price_filter input {
    width: 112px;
    height: 36px;
    text-align: center;
    color: #8B8B8B;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
}
.price_filter input + input{
    margin-left: 16px;
}
.price_filter span{
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    margin-right: 16px;
}
@media (max-width: 1000px) {
    .price_filter {
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
}
@media (max-width: 768px) {
    .price_filter {
        gap: 16px;
    }    
    .price_filter span {
        font-size: 20px;
    }
}