.product{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;

}

.left_product > img{
  width: 780px;
  height: 572px;
}

 .title_product{
  display: flex;
  margin-bottom: 25px ;

  position: relative;

}

.title_product > h3{
  font-size: 40px;
  font-weight: 700;
  color: #424436;
}

.title_product .icon_product{
  width: 44px;
  height: 38px;
  top: 2px;
  right: 2px;

  position: absolute;
}

 .price_product{
  display: flex;
  gap: 30px;

  margin-bottom: 25px;

 }

 .final_price{
  font-size: 64px;
  font-weight: 700;
  color: #424436;
}

.price{
  margin-top: 10px;
  font-size: 40px;
  font-weight: 500;
  color: #8b8b8b;
  text-decoration:line-through;
}

.discount{
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #F26D22;
  width: 63px;
  height: 34px;
  letter-spacing: 3%;
  border: none;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
}



.cart_product{
  display: flex;
  gap: 20px;

  margin-bottom: 20px;
}

.cart_product > button{
  width: 316px;
  height: 58px;
  font-size: 20px;
  color: white;
  background-color: #92A134;
  border: none;
  border-radius: 5px;
}

.cart_input{
  display: flex;
  width: fit-content;
}

.cart_input button{
  width: 58px;
  height: 58px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 24px;
  color: #8b8b8b;
}

.cart_input > div{
  width: 58px;
  height: 58px;
  background-color: white;
  border: 1px solid #dddddd;
  font-size: 24px;
  color: #8b8b8b;


  display: flex;
  align-items: center;
  justify-content: center;
}

.description_product > h6{
  font-size: 20px;
  font-weight: 600;
  color: #424436;
}

.description_product > p{
  font-size: 16px;
  font-weight: 400;
  color: #424436;
}

.description_product > p:last-child{
  text-decoration: underline;
}

