.checkbox{
  display: flex;
}
.checkbox input {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #DDDDDD;
  appearance: none;
  background-color: white; 
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.checkbox span {
  color: var(--text-color);
  font-weight: 600;
  font-size: 20px;
  margin-right: 16px;
  margin-top: 5px;
}
.checkbox input:checked::before {
  content: '\2713'; 
  font-size: 24px; 
  color: black;
}

.checkbox input:checked {
  background-color: white; 
}

@media (max-width: 768px) {
  .checkbox{
    display: flex;
    align-items: center;
  }
  .checkbox span {
    font-size: 20px;
  }
 
}